@tailwind components;

@layer components {
    .Footer {
        @apply flex flex-col justify-center items-center w-full gap-8 mt-12
        
    }

    .Footer h1 {
        @apply text-5xl text-darkGrayishBlue font-bold
        md:text-center md:text-4xl
    }

    .Footer h2 {
        @apply text-2xl text-darkGrayishBlue font-bold
        md:text-center 
   
    }

    .Footer h4 {
        @apply text-xl text-GrayishBlue
        md:text-center md:text-xl

    }

    .FooterCards {
        @apply flex justify-center items-start mt-16 gap-12 
        md:flex-col
    }

    .FooterCards div {
        @apply w-[420px] text-center flex flex-col justify-center items-center gap-7  
        md:w-80
    }
    .MarkaCards {
        @apply flex justify-around items-center  w-full p-44
        md:flex-col md:p-0 md:gap-12 md:mt-28
    }
    .buttons{
        @apply flex justify-center items-center w-1/3 gap-12 my-12
    }
    .ios-button{
        @apply bg-strongCyan shadow-strongCyan
    }
    .mac-button{
        @apply bg-lightBlue shadow-lightBlue
    }
    .Footer button{
        @apply w-full p-4 text-white shadow-md rounded-full  font-semibold
    }
    .FooterBottom{
        @apply m-12 flex flex-col justify-center items-center gap-4
    }
    .FooterContact{
        @apply flex justify-around items-center w-full p-12 bg-gray-100
    }
    .contact-baner{
        @apply flex gap-12 
    }
    .contact-baner h4{
        @apply text-darkGrayishBlue font-medium
    }
}